.pop-up__form-field {
  outline: none;
  padding: 0 0 13px 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  max-width: 358px;
  margin: 0 0 30px 0;
}

.pop-up__form-field::-webkit-input-placeholder {
  font-family: inherit;
  font-style: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.pop-up__form-field::-moz-placeholder {
  font-family: inherit;
  font-style: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.pop-up__form-field::-ms-input-placeholder {
  font-family: inherit;
  font-style: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.pop-up__form-field::placeholder {
  font-family: inherit;
  font-style: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
