@import url('./__like-icon/element__like-icon.css');
@import url('./__title-background/element__title-background.css');
@import url('./__title/element__title.css');
@import url('./__photo/element__photo.css');

.element {
  display: flex;
  flex-direction: column;
  margin: auto;
}
