.profile__edit-button-icon {
  min-width: 10px;
  max-height: 10px;
  transition: opacity 0.2s linear;
}

.profile__edit-button-icon:hover {
  opacity: .6;
}

@media screen and (max-width: 425px) {
  .profile__edit-button-icon {
    max-width: 7.5px;
    max-height: 7.5px;
  }
}
